body{
   font-family: sans-serif;
   display: flex;
   flex-direction: column;
   height: 100vmin;
   text-align: center;
 }

header{
background: #ffba39;
/*text-align: center;*/
font-size: 24px;
font-weight: bold;
height: 24px;
padding: 20px;
}

main{
  /*text-align: center;*/
  display: flex;
  height: 100%;
}

section{
  display: flex;
/*text-align: center;*/
}

.izquierda{
  flex: 1;
  justify-content: center;
   display: flex;
   padding: 24px;
   background: #626e81;
   color: white;
 }

.centro{
  flex: 2;
   justify-content: center;
   border: 1px solid lightgray;
   padding: 24px;
   background: #cfd4df;
   color: black;
 }

.derecha{
  flex: 1;
  justify-content: center;
   display: flex;
   padding: 24px;
   display: flex;
   background: #626e81;
   color: white;
 }
